.b{
    margin: 0px;
}
.b1{
    background-image: url(background.png);
    background: cover;
    height: 100vh;
    width:100%;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.f{
    position: absolute;
    height: 110px;
    margin-top: 466px;

}


.boy{
    position:absolute;
    margin-top: 380px;
    height: 30vh;


}

.score{
    position:absolute;
    top: 40px;
    left:50px;
    font-size: 30px;
    font-weight: bold;
}
.end{
    left: 25%;
    position: absolute;
    width: 50%;
    height: 80vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    font-size: 50px;
    font-weight: bold;

    visibility: hidden;

    

}
.btn{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    background-color: yellowgreen;
    cursor: pointer;
    border-radius: 10px;
}